**/.vs/**
**/.idea/**
**/bin/**
**/obj/**
**/packages/**
**/test-results/**
.local-memory/**

*\.sln\.DotSettings\.user
*\.csproj\.user
.claude/settings.local.json

# Verify
test/**/*.received.*
test/**/*.received/

# Benchmarking
**/BenchmarkDotNet.Artifacts/**
