**/.vs/**
**/.idea/**
**/bin/**
**/obj/**
**/packages/**
**/test-results/**
.local-memory/**
.serena/cache/**

*\.sln\.DotSettings\.user
*\.csproj\.user

# Verify
test/**/*.received.*
test/**/*.received/
