name: CI

on:
  push

jobs:
  build:
    runs-on: windows-latest

    steps:
                    
      - name: install .NET Core 3.1 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          
      - name: install .NET 5 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: .NET info
        run: dotnet --info
        shell: powershell
        
      - uses: actions/checkout@v2
        
      - name: set version
        run: |
          . ./.github/workflows/ci.ps1          
          Set-VersionSuffixOnTag "$Env:GITHUB_WORKSPACE" "$Env:GITHUB_REF"
        shell: powershell

      - name: dotnet restore
        run: dotnet restore
        
      - name: build
        run: dotnet build --configuration Release --no-restore
    
      - name: test
        run: dotnet test --configuration Release --no-build
      
      - name: pack
        run: dotnet pack --configuration Release --no-build --output out
        
      - uses: actions/upload-artifact@v2
        with:
          name: nuget-packages
          path: |
            out/*.nupkg
            out/*.snupkg
